h1, p {
    margin: 0 1em 0 1em;
}

/* Title */
#title {
    margin-top: 1em;

    color: var(--green);
    font-weight: bold;
}

#title strong {
    text-shadow: 0 0 .1em var(--js-yellow);
}

h1#title + p {
    padding-left: 4em;
}

.my-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.framework:hover span {
    display: none;
}

.framework:hover::before {
    content: " restaurant";    
}

/* Text Colors */
.pink {
    color: var(--pink);
}

.white {
    color: white;
}

.purple {
    color: var(--purple);
}

.green {
    color: var(--green);
}

.yellow {
    color: var(--yellow);
}

.red {
    color: var(--red);
}