:root {
    --red: #ff5555;
    --green: #50fa7b;
    --dark-green: #54c570;
    --yellow: #f1fa8c;
    --purple: #bd93f9;
    --pink: #ff79c6;
    --blue: #8be9fd;
    --js-yellow: #f0db4f;
    --js-black: #323330;
    --js-bold-black: #232422;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--js-black);
}

/* Navbar */
.bg-js {
    background-color: var(--js-yellow);
}

.logo {
    width: 3em;
    height: auto;
}

#restaurant-name {
    color: var(--js-black);
    font-weight: bold;
}

#restaurant-name strong {
    color: var(--js-bold-black);
}

/* h1 */
.my-h1 {
    margin-top: 1em;

    color: var(--green);
    font-weight: bold;
}

.my-h1 strong {
    text-shadow: 0 0 .1em var(--js-yellow);
}

/* content-changer */
.content-changer:hover span {
    display: none;
}

.content-changer:hover::before {
    content: " restaurant";    
}

/* My container */
.my-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Footer */
footer a {
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: var(--red);
}

/* Text Colors */

.red {
    color: var(--red);
}

.green {
    color: var(--green);
}

.blue {
    color: var(--blue);
}

.pink {
    color: var(--pink);
}

.white {
    color: white;
}

.purple {
    color: var(--purple);
}

.yellow {
    color: var(--yellow);
}